@import "libs/fonts";
@import "base/variables";
@import "base/mixins";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
